<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <style>
        .navbar{
            display: inline;
            text-decoration: none;
            color: red;

        }
        .navbar li{
            display: inline-block;
            padding: 2%; 
        }
        a:hover{
            text-shadow: 5ex;
            color: aquamarine;
            background: rgb(221, 114, 114);
            
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li ><a href="">home</a></li>
            <li ><a href="#">About</a></li>
            <li ><a href="login">login</a></li>
            <li ><a href="/saveuser">signup</a></li>
            <li ><a href="http://127.0.0.1:8000/">logout</a></li>
        </ul>
    </nav>
    <center><h1 style=" color:aqua"> welcome to the site </h1> </center>
</body>
</html>